.project-card:hover {
  cursor: pointer;
  transform: scale(1.05); /* Aumenta ligeramente el tamaño de la tarjeta */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
}

.link-card {
  display: none;
}